@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ABC Diatype Plus Variable';
  src: url('/assets/fonts/ABC Diatype Plus Variable/ABCDiatypePlusVariable-Trial.woff2') format('woff2-variations'),
       url('/assets/fonts/ABC Diatype Plus Variable/ABCDiatypePlusVariable-Trial.woff') format('woff'),
       url('/assets/fonts/ABC Diatype Plus Variable/ABCDiatypePlusVariable-Trial.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html,
  body {
    font-family: 'ABC Diatype Plus Variable', Arial, sans-serif;
    font-variation-settings: "MONO" 1, "wght" 300;
    @apply bg-background text-base-text;
    min-height: 100%;
  }

  body {
    position: relative;
    background-color: #f8f8f8;
  }
}

@keyframes fadeOut {
  0%,
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
